.btn{
    border-color: rgb(235, 231, 7);
    //border-radius: 100px;
    border-width: 5px;
    color: rgb(235, 231, 7);
    font-size: large;
    font-weight: bold;
    width: 215px;
    
}
.btn-outline-success{
    margin: 0;
}
