.RecipeResult {}

.title{
    font-weight: bold;
    font-size: 2rem;
    color: rgba(118, 190, 10, 0.815);
}

.border-success{

  width: 25rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(118, 190, 10, 0.815);

}
.border-success-aa{
    color: rgba(118, 190, 10, 0.815);
    width: 50rem;
    font-weight: bold;
    font-size: 1.5rem;
    border: 3px solid
}
